@ -1,215 +0,0 @@
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body {

}
garnie{
    background-color: #FFB74D;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
}